#mdlInfo{
    border-radius: 0.6rem;
    border: solid 3px var(--colourCTA);
    margin: 0 auto;
    margin-top: 1rem;

    > header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
        background-color: var(--colourCTA);
        padding: 1rem;

        h1 {
            font-family: var(--fontHeader);
            color: var(--colourTxtDark);
            font-size: 1.5rem;
        }
    }
    p {
        padding: 1rem;
    }
    
    .close {
        background: none;
        padding: 0.5rem;
        border-radius: 0.6rem;
        border: solid 1px var(--colourTxtDark);
    }
}