form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    max-width: 600px;
    align-self: center;
    margin: 0 auto;
    div {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        label {
            font-family: var(--fontMain);
            /* font-size: 1rem; */
        }
        input {
            height: 35px;
            border-radius: 0.6rem;
            border: solid 1px var(--colourTxtDark);
            padding-left: 0.5rem;
        }
        input:invalid:not(:placeholder-shown) {
            border: solid 2px var(--colourError);
        }
        input:valid {
            border: solid 2px var(--colourSuccess);
        }
        button {
            border: none;
            background-color: var(--colourCTA);
            color: var(--colourBgNav);
            font-size: 1.3rem;
            font-family: var(--fontHeader);
            font-weight: 600;
            width: fit-content;
            padding: 0.3rem 1rem;
            border-radius: 0.6rem;
        }
    }
}