@import 'styles.css';

:root {
    --cardImageDimensionsSmall: 150px;
    --cardImageDimensionsBig: 250px;
}

main {
    section#productList {
        padding: 1rem 2rem;
        display: grid;
        gap: 1rem;
        max-width: var(--maxWidth);
        margin: 0 auto;
        @media (min-width: 500px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        @media (min-width: 800px) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
        @media (min-width: 1024px) {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }

        article {
            padding: 1rem;
            border-radius: 0.6rem;
            word-break: break-word;
            box-shadow: 2px 2px 2px 2px var(--colourBoxShadow);
            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                img {
                    width: var(--cardImageDimensionsSmall);
                    aspect-ratio: 4/3;
                    object-fit: contain;
                    @media (min-width: 768px) {
                        width: var(--cardImageDimensionsBig);
                    }
                }
            }
            @media (min-width: 500px) {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                
            }
            header {
                padding-bottom: 1.2rem;
                display: flex;
                flex-direction: column;
                gap: 0.3rem;
               h2 {
                    text-decoration: none;
                    color: var(--colourTxtDark);
                    font-family: var(--fontHeader);
                } 
                
            }
            .productPrice {
                font-family: var(--fontMain);
                font-weight: 600;
            }
        } 
    }
}

