@import 'styles.css';
@import '_form.css';
@import '_dialog.css';

main {
    padding: 1rem 2rem;
    header {
        h1 {
            font-family: var(--fontHeader);
            text-align: center;
        }
    }
    p {
        font-size: 1.2rem;
        font-weight: 600;

        a {
            color: var(--colourBlueLink);
            text-decoration: none;
        }
    }
}
