@import 'variables.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--colourBgBody);
    header#header {
        background-color: var(--colourBgNav);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem 0 1rem 0;
        @media (min-width: 768px) {
            padding: 1rem 2rem 1rem 2rem;
        }
        nav {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            align-items: center;
            ul {
                list-style: none;
                > li { 
                font-size: 1.2rem;
                    > a, button {
                        text-decoration: none;
                        cursor: pointer;
                        font-family: var(--fontMain);
                        font-weight: 600;
                        color: var(--colourTxtLight);
                    }
                }
            }

            @media (min-width: 768px) {
                display: flex;
                flex-direction: row;
                align-items: end;
            }

            ul#mainNavigation {
                display: flex;
                flex-direction: column;
                gap: 0.4rem;
                text-align: center;
                @media (min-width: 768px) {
                    display: flex;
                    flex-direction: row;
                    gap: 1rem;
                }
            }
            ul#utilityNavigation {
                display: flex;
                align-items: end;
                gap: 0.8rem;
                li > a, button {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                li > button {
                    border: none;
                    background: none;
                }
                @media (min-width: 768px) {
                    margin-left: auto;
                }
            }
        }
    }

    main {
        background-color: var(--colourBgBody);
    }

    footer {
        background-color: var(--colourBgNav);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.8rem;
        text-align: center;
        padding: 1rem 0 1rem 0;
        position: relative;
        width: 100%;
        bottom: 0;
        
        @media (min-width: 768px) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 1rem 2rem 5rem 2rem;
            text-align: start;
        }

        section {
            display: flex;
            flex-direction: column;
            gap: 0.4rem;
            > p {
                color: var(--colourTxtLight);
                font-family: var(--fontMain);
                font-weight: 700;
            }

            > div.textLinks {
                display: flex;
                flex-direction: column;
                > a {
                    color: var(--colourLink);
                    text-decoration: none;
                    font-family: var(--fontMain);
                }
            }
        }
        div:has(img) {
            display: flex;
            flex-direction: row;
            gap: 0.8rem;
        }
        section#paymentOptions {
            div > img {
                width: var(--widthPaymentIcons);
            }
        }
        section#soMe {
            div > a > img {
                width: var(--widthSomeIcons);
            }
        }
    }
        /* @media (max-width: 599px) {
                nav {
                    position: fixed;
                    transform: translateY(-100%);
                    transition: transform 0.2s;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 99;
                    background: black;
                    color: white;
                    list-style: none;
                    padding-top: 4rem;

                    button#burgerMenu {
                        position: fixed;
                        z-index: 100;
                        padding: 2rem;
                        border: none;
                        background: none;
                        cursor: pointer;

                        .closeIcon {
                            display: none;
                        }
                    }
                }
                
            } */
    }


.hidden {
    display: none;
}

img {
    width: 100%;
    height: auto;
}

p {
    font-family: var(--fontMain);
}

.showMenu {
    transform: translateY(0);
}

.productCategory {
    text-transform: capitalize;
    background-color: #dce2ff;
    width: fit-content;
    border-radius: 0.6rem;
    padding: 0.3rem 0.5rem;
}

.primaryButton {
    border: none;
    background-color: var(--colourCTA);
    color: var(--colourBgNav);
    font-family: var(--fontHeader);
    font-weight: 600;
    width: 100%;
    border-radius: 0.6rem;
    font-size: clamp(1rem, 5vw, 1.3rem);
}

.secondaryButton {
    border: solid 1px var(--colourCTA);
    color: var(--colourTxtDark);
    background: none;
    width: fit-content;
    border-radius: 0.6rem;
    font-family: var(--fontMain);
    font-weight: 600;
}