@import 'variables.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--colourBgBody);
    header#header {
        background-color: var(--colourBgNav);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem 0 1rem 0;
        @media (min-width: 768px) {
            padding: 1rem 2rem 1rem 2rem;
        }
        nav {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            align-items: center;
            ul {
                list-style: none;
                > li { 
                font-size: 1.2rem;
                    > a, button {
                        text-decoration: none;
                        cursor: pointer;
                        font-family: var(--fontMain);
                        font-weight: 600;
                        color: var(--colourTxtLight);
                    }
                }
            }

            @media (min-width: 768px) {
                display: flex;
                flex-direction: row;
                align-items: end;
            }

            ul#mainNavigation {
                display: flex;
                flex-direction: column;
                gap: 0.4rem;
                text-align: center;
                @media (min-width: 768px) {
                    display: flex;
                    flex-direction: row;
                    gap: 1rem;
                }
            }
            ul#utilityNavigation {
                display: flex;
                align-items: end;
                gap: 0.8rem;
                li > a, button {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    font-family: var(--fontMain);
                    font-size: 1.2rem;
                }
                li > button {
                    border: none;
                    background: none;
                }
                @media (min-width: 768px) {
                    margin-left: auto;
                }
            }
        }
        #user {
            color: var(--colourTxtLight);
            align-self: center;
            @media (min-width: 768px) {
                align-self: end;
            }
        }
    }

    main {
        background-color: var(--colourBgBody);
        header#heroSection {
        background-image: url("/images/products_bg_image.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 5rem 0;
        background-color: rgba(0,0,0,0.5);
        background-blend-mode: darken;
        > h1 {
            font-family: var(--fontHeader);
            color: var(--colourTxtLight);
            text-align: center;
            text-transform: uppercase;
            }
        @media (min-width: 768px) {
            max-height: var(--heroImgMaxHeight);
            }
        @media (min-width: 1500px) {
            }
        }
    }

    footer {
        background-color: var(--colourBgNav);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.8rem;
        text-align: center;
        padding: 1rem 0 1rem 0;
        position: relative;
        width: 100%;
        bottom: 0;
        
        @media (min-width: 768px) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 1rem 2rem 5rem 2rem;
            text-align: start;
        }

        section {
            display: flex;
            flex-direction: column;
            gap: 0.4rem;
            > p {
                color: var(--colourTxtLight);
                font-family: var(--fontMain);
                font-weight: 700;
            }

            > div.textLinks {
                display: flex;
                flex-direction: column;
                > a {
                    color: var(--colourLink);
                    text-decoration: none;
                    font-family: var(--fontMain);
                }
            }
        }
        div:has(img) {
            display: flex;
            flex-direction: row;
            gap: 0.8rem;
        }
        section#paymentOptions {
            div > img {
                width: var(--widthPaymentIcons);
            }
        }
        section#soMe {
            div > a > img {
                width: var(--widthSomeIcons);
            }
        }
    }
}


.hidden {
    display: none;
}

img {
    width: 100%;
    height: auto;
}

p {
    font-family: var(--fontMain);
}


.productCategory {
    text-transform: capitalize;
    background-color: #dce2ff;
    width: fit-content;
    border-radius: 0.6rem;
    padding: 0.3rem 0.5rem;
}

.primaryButton {
    border: none;
    background-color: var(--colourCTA);
    color: var(--colourBgNav);
    font-family: var(--fontHeader);
    font-weight: 600;
    width: 100%;
    border-radius: 0.6rem;
    font-size: clamp(1rem, 5vw, 1.3rem);
}

.secondaryButton {
    border: solid 1px var(--colourCTA);
    color: var(--colourTxtDark);
    background: none;
    width: fit-content;
    border-radius: 0.6rem;
    font-family: var(--fontMain);
    font-weight: 600;
}

.selected {
    text-decoration: underline;
}