@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700&display=swap');

:root {
    /* Fonts */
    --fontMain: system-ui, sans-serif;
    --fontHeader: Poppins, sans-serif;

    /* Colours */
    --colourBgNav: #120D31;
    --colourBgBody: #FAFBFF;
    --colourTxtLight: #FAFBFF;
    --colourTxtDark: #120D31;
    --colourLink: #FDF0C8;
    --colourBlueLink: #3623b0;
    --colourCategoryTag: #30248B;
    --colourBgCard: #ECF0FF;
    --colourBoxShadow: #13131C1E;
    --colourCTA: #F6B429;
    --colourError: #b31d35;
    --colourSuccess: #4e6d1e;

    /* Sizes */
    --widthPaymentIcons: 45px;
    --widthSomeIcons: 35px;
    --heroImgMaxHeight: 250px;
    --maxWidth: 1300px;
}